# ignore sites
/manifests/nodes/sites/*
!/manifests/nodes/sites/example-site.pp

# ignore vhosts
/manifests/nodes/templates/vhosts/*
!/manifests/nodes/templates/vhosts/vhost.erb

# ignore dotfiles
/manifests/nodes/dotfiles.pp
/manifests/nodes/templates/dotfiles/*
!/manifests/nodes/templates/dotfiles/.gitkeep

.vagrant
.DS_Store